{% extends "base.html" %}

{% block title %}{% endblock title %}

{% block content %}

<div class="w3-barnav w3-container">
	<div class="w3-third w3-left">
		<h2>Source</h2>
		{% for source in source_list|dictsort:"name" %}
			{% if source.is_active is True%}
				<li class="w3-sourcelinks"><a class="w3-sourcelinks w3-hover-red" href="{% url 'source:detail' source.id %}">{{ source.name }}</a></li>
			{% endif %}
		{% endfor %}
		<br>
	</div>
	<div class="w3-third w3-center">
		<h2>Category</h2>
		{% for source in source_category|dictsort:"name" %}
			<li class="w3-sourcelinks w3-center"><a class="w3-sourcelinks w3-hover-red" href="{% url 'source:category' source.id %}">{{ source.name }}</a></li>
		{% endfor %}
	</div>
	<div class="w3-third w3-right">
		<h2 style="text-align:right;">Organization</h2>
		{% for source in source_organization|dictsort:"organization" %}
			<li class="w3-sourcelinks" style="text-align:right;"><a class="w3-sourcelinks w3-hover-red" href="{% url 'source:organization' source.organization %}">{{ source.organization }}</a></li>
		{% endfor %}
	</div>
</div>
{% endblock content %}
