{% extends "base.html" %}

{% block title %}Welcome!!{% endblock title %}

{% block content %}
<div class="w3-workspace w3-barnav">
	<div class="w3-center w3-homelinks">
		{% if request.user.is_authenticated %}
		<div class="w3-container">
			<div class="w3-half">
				<h3 class="w3-homecategory" style="text-align:left;">inthen&#10162;ut</h3>
				<p class="w3-homelinks">ito_username: <span style="color: red">{{ request.user.username }}</span></p>
				<p class="w3-homelinks">ito_email: <span style="color: red">{{ request.user.email }}</span></p>
				<p class="w3-homelinks">ito_date_joined: <span style="color: red">{{ request.user.date_joined }}</span></p>
				<p class="w3-homelinks">ito_last_login: <span style="color: red">{{ request.user.last_login }}</span></p>
			</div>
			<div class="w3-half">
				<h3 class="w3-homecategory" style="text-align:right;">custom user data</h3>
				<p class="w3-homelinks" style="text-align:right;">ito_cud_firstname: <span style="color: red">Scott</span></p>
				<p class="w3-homelinks" style="text-align:right;">ito_cud_lastname: <span style="color: red">Plumbtree</span></p>
				<p class="w3-homelinks" style="text-align:right;">ito_cud_wife: <span style="color: red">Marcie</span></p>
			</div>
		</div>
		{% else %}<a href="/accounts/login">Please login</a> or <a href="/accounts/signup/">register</a>.
		{% endif %}
	</div>
	<br>
	<div class="w3-container">
		<div class="w3-third">
			<h3 class="w3-homecategory">sources</h3>
			<li class="w3-homelinks w3-hover-red"><a class="w3-homelinks"href="/source/">Add Source &#10162;</a></li>
		{% for source in object_list|dictsort:"source.name" %}
			{% if source.is_active == True %}
			<li class="w3-homelinks w3-hover-red"><a class="w3-homelinks" href="/source/{{ source.source.id }}/">{{ source.source.name }}</a></li>
			{% endif %}
		{% endfor %}
		</div>
		<div class="w3-third">
			<h3 class="w3-homecategory w3-center">collections</h3>
			<li class="w3-homelinks w3-center"><a class="w3-homelinks"href="">Add Collection &#10162;</a></li><br>
		</div>
		<div class="w3-third">
			<h3 class="w3-homecategory" style="text-align:right;">outputs</h3>
			<li class="w3-homelinks w3-right"><a class="w3-homelinks w3-right" href="">Add Output &#10162;</a></li><br>
		</div>
	</div>
<br>
</div>
{% endblock content %}
