{% extends "base.html" %}

{% block title %}Welcome!!{% endblock title %}

{% block content %}
<div class="w3-workspace w3-barnav">
	<div class="w3-center w3-sourcelinks">
		{% if request.user.is_authenticated %}
		<div class="w3-container">
			<div class="w3-half">
				<h3 class="w3-homecategory">ito</h3>
				<p class="w3-sourcelinks">ito_username: <span style="color: red">{{ request.user.username }}</span></p>
				<p class="w3-sourcelinks">ito_email: <span style="color: red">{{ request.user.email }}</span></p>
				<p class="w3-sourcelinks">ito_date_joined: <span style="color: red">{{ request.user.date_joined }}</span></p>
				<p class="w3-sourcelinks">ito_last_login: <span style="color: red">{{ request.user.last_login }}</span></p>
			</div>
			<div class="w3-half">
				<h3 class="w3-homecategory">custom variables</h3>
			</div>
		</div>
		{% else %}<a href="/accounts/login/">Please login</a> or <a href="/accounts/signup/">register</a>.
		{% endif %}
	</div>
	<br>
	<div class="w3-container">
		<div class="w3-third">
			<h3 class="w3-homecategory">sources</h3>
			<li class="w3-sourcelinks"><a class="w3-sourcelinks"href="/source/">Add Source &#10162;</a></li>
		{% for source in object_list %}
			{% if source.is_active == True %}
			<li class="w3-sourcelinks"><a class="w3-sourcelinks" href="/source/{{ source.source.id }}/">{{ source.source.name }}</a></li>
			{% endif %}
		{% endfor %}
		</div>
		<div class="w3-third">
			<h3 class="w3-homecategory">collections</h3>
			<li class="w3-sourcelinks"><a class="w3-sourcelinks"href="">Add Collection &#10162;</a></li><br>
		</div>
		<div class="w3-third">
			<h3 class="w3-homecategory w3-center">outputs</h3>
			<li class="w3-sourcelinks"><a class="w3-sourcelinks w3-margin-left" href="">Add Output &#10162;</a></li><br>
		</div>
	</div>
<br>
</div>
{% endblock content %}
