{% extends "base.html" %}

{% block title %}Welcome!!{% endblock title %}

{% block content %}
<div class="w3-workspace w3-barnav">
	<header class="w3-container">
	    <h1><b>Our Mission</b></h1>
	</header>
	<div class="w3-container">
	<p>The goal of inthen&#10162;ut is to provide you with access to web data that interests you and to arrange that data in your desired output method.  We aim to implement this in as simple of a format as possible by organizing a clean web design that facilitates ease of use. </p>
	</div>
	<header class="w3-container">
	    <h1><b>State of Things</b></h1>
	</header>
	<div class="w3-container">
	<p>Without question, we are still in the early stages. If you would like to stay current with new developments regarding inthen&#10162;ut then please sign up for email updates by clicking on update me above.  Your interest is appreciated!
	</p>
	</div>
</div>
{% endblock content %}
