{% extends "base.html" %}

{% block title %}{% endblock title %}

{% block content %}

<div class="w3-barnav">
	<div>
		<div>
		{% for collection in collection %}
			<div class="w3-barnav">
				<h4 class="w3-collectionheading w3-center">{{ collection.name }}</h4>
				<i><h5 class="w3-collectionlinks w3-center">{{ collection.description }}</h5></i><br>
			</div>
			<div class="w3-container w3-barnav w3-padding-bottom">
				<br>
				<h4 class="w3-homecategory w3-padding-bottom w3-padding-left">collection</h4>
				<div class="w3-row w3-padding-right"><div class="w3-col w3-collectionvar" style="width:15%">name</div><div class="w3-collectionval w3-rest">{{ collection.name }}</div></div>
				<div class="w3-row w3-padding-right"><div class="w3-col w3-collectionvar" style="width:15%">category</div><div class="w3-collectionval w3-rest">{{ collection.category }}</div></div>
				<div class="w3-row w3-padding-right"><div class="w3-col w3-collectionvar" style="width:15%">created_by</div><div class="w3-collectionval w3-rest">{{ collection.created_by }}</div></div>
				<div class="w3-row w3-padding-right"><div class="w3-col w3-collectionvar" style="width:15%">is_active</div><div class="w3-collectionval w3-rest">{{ collection.is_active }}</div></div>
				<div class="w3-row w3-padding-right"><div class="w3-col w3-collectionvar" style="width:15%">is_public</div><div class="w3-collectionval w3-rest">{{ collection.is_public }}</div></div>
				<div class="w3-row w3-padding-right"><div class="w3-col w3-collectionvar" style="width:15%">date_created</div><div class="w3-collectionval w3-rest">{{ collection.date_created }}</div></div>
				<div class="w3-row w3-padding-right"><div class="w3-col w3-collectionvar" style="width:15%">id</div><div class="w3-collectionval w3-rest">{{ collection.id }}</div></div>
				<div class="w3-row w3-padding-right"><div class="w3-col w3-collectionvar" style="width:15%">description</div><div class="w3-collectionval w3-rest">{{ collection.description }}</div></div>
				<div><li class="w3-collectionlinks w3-margin-bottom w3-margin-top w3-padding-left"><a href="">Edit Collection &#10162;</a></li></div>
		{% endfor %}
			</div>
		</div>
	</div>
	<div>
		<div class="w3-container w3-barnav w3-padding-bottom">
		<h4 class="w3-homecategory w3-padding-top w3-padding-left">custom</h4>
		{% for var in collection_variable %}
			{% if var.variable_value %}
			<div class="w3-row w3-padding-right"><div class="w3-col w3-collectionvar" style="width:15%">{{ var.variable_name }}</div><div class="w3-collectionval w3-rest">{{ var.variable_value }}</div></div>
			{% endif %}
		{% endfor %}
		{% for collection in collection %}
		<li class="w3-collectionlinks w3-margin-bottom w3-margin-top w3-padding-left"><a href="/collection/{{ collection.id }}/customdata/">Add Custom Data &#10162;</a></li>
		{% endfor %}
		</div>

	</div>
	<div>
		<div class="w3-container">
			<h2 class="w3-homecategory">source</h2>
			<li class="w3-collectionlinks w3-margin-bottom w3-margin-top"><a href="/source/">Add/Remove Source &#10162;</a></li>
		</div>
		<br>
	</div>
</div>
{% endblock content %}
