{% extends "base.html" %}

{% block title %}{% endblock title %}

{% block content %}

<div class="w3-barnav">
	<div>
		<div>
		{% for collection in collection %}
			<div class="w3-barnav">
				<h4 class="w3-homecategory w3-center">{{ collection.name }}</h4>
				<i><h5 class="w3-collectionlinks w3-center">{{ collection.description }}</h5></i><br>
			</div>
			<div class="w3-container">
				<br>
				<h4 class="w3-homecategory">collection</h4>
				<ul class="w3-collectionlinks">name: <span style="color: red;">{{ collection.name }}</span></ul>
				<ul class="w3-collectionlinks">description: <span style="color: red;">{{ collection.description }}</span></ul>
				<ul class="w3-collectionlinks">category: <span style="color: red;">{{ collection.category }}</span></ul>
				<ul class="w3-collectionlinks">created_by: <span style="color: red;">{{ collection.created_by }}</span></ul>
				<ul class="w3-collectionlinks">is_active: <span style="color: red;">{{ collection.is_active }}</span></ul>
				<ul class="w3-collectionlinks">is_public: <span style="color: red;">{{ collection.is_public }}</span></ul>
				<ul class="w3-collectionlinks">date_created: <span style="color: red;">{{ collection.date_created }}</span></ul>
				<ul class="w3-collectionlinks">id: <span style="color: red;">{{ collection.id }}</span></ul>
		{% endfor %}
			</div>
			<li class="w3-collectionlinks w3-right"><a href="">Edit Collection &#10162;</a></li>
		</div>
	</div>
	<div>
		<div class="w3-container">
		<h4 class="w3-homecategory">custom collection data</h4>
		{% for var in collection_variable %}
			{% if var.variable_value %}
			<ul class="w3-collectionlinks">{{ var.variable_name }}: <span style="color: red;">{{ var.variable_value }}</span></ul>
			{% endif %}
		{% endfor %}
		</div>
		{% for collection in collection %}
		<li class="w3-collectionlinks w3-right"><a href="/collection/{{ collection.id }}/customdata/">Add Custom Data &#10162;</a></li>
		{% endfor %}
	</div>
	<div>
		<div class="w3-container">
			<h2 class="w3-homecategory">source</h2>

		</div>
		<li class="w3-collectionlinks w3-right"><a href="/source/">Add/Remove Source &#10162;</a></li>
		<br>
	</div>
</div>
{% endblock content %}
